.bname{
	font-family: 'Zilla Slab Highlight', cursive;
}

.indexitem{
    height: 180px;
    width: 250px;
}

.itempanel{
    width: 339px;
    height: 441px;
}

.itemimage{
    width: 337px;
    height: 200px;
}

.thumbnail{
    height: 200px;
    width: 240px;
}

.update_cart{
    display: none;
}