html{
	height: -webkit-fill-available;
}


.bname{
	font-family: 'Zilla Slab Highlight', cursive;
}

.indexitem{
    height: 180px;
    width: 250px;
}

.items{
	margin-right: 0px;
	margin-left: 0px;
}

.itempanel{
    width: 339px;
    height: 441px;
}

.itemimage{
    width: 337px;
    height: 200px;
}

.thumbnail{
    height: 200px;
    width: 240px;
}

.update_cart{
    display: none;
}


.login{
	margin: 0;
}

.signup_body{
	background-image: url('737400.jpg');	
	background-size: cover;
  	background-repeat: no-repeat;
    background-position: center;
}

.signup{
	margin: 0;
}

.signup-form{
	background: #eae8e8;
	background-color: #ffffff;
	width: 350px;
	height: 500px;
	border: 1px solid #efefef;
	border-radius: 3px;
}

.signin-form{
    margin-top: 10%;
	background: #eae8e8;
	background-color: #ffffff;
	width: 350px;
	height: 300px;
	border: 1px solid #efefef;
	border-radius: 3px;
}

.signup-image{
	height: 500px;
}

.link_signin{
	margin-right: 15px;
	margin-top: 15px;
}

.link_signup{
	margin-top: 15px;
	margin-right: 35px;
}

.edit_profile{
	border: 1px solid #efefef;
	text-align: center;
	width: max-content;
}

.link_afterlogin{
	margin-right: 5px;
	margin-top: 10px
}

.link_logout{
	margin-left: 15px;
}

.show_ordereditem_link{
	margin-left: 15px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .signup {
        margin-left: 5px;
    }
    
    .login {
    	margin-top: 0px;
        margin-left: 5px;
    }
    
    .link_signup{
    	margin-top: -35px;
    	margin-right: 0px;
    }
    .link_signin{
    	margin-top: -35px;
    	margin-right: 65px;
    }
    
    .edit_profile{
    	margin-left: 8px;
    }
    
    .navbar{
    	width: 103%;
    }
    
    .link_afterlogin{
    	margin-top: -35px;
    }
}

.text-signup{
	font-family: 'Berkshire Swash', cursive;
}

.text-signin{
	font-family: 'Berkshire Swash', cursive;
	margin-bottom: 30px;	
}

.profile_menu{
	left: -100px;
	text-align: center;
}

.field{
	margin-bottom: 5px;
}

.input-from{
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	color: #262626;
	font-size: 14px;
	padding: 9px 8px 7px;
	width: 268px;
	height:33px;
	margin:0 40px 6px;
}

.signup-button{
	border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    width: 268px;
	height:31px;
	margin:4% 0 0 0;
}

.signin-button{
	border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    width: 268px;
	height:31px;
	margin:4% 0 0 0;
}
